{% extends 'voteapp/base.html' %}
{% block content %}

    <div class="text-center">
        <h1>Welcome to VoteApp!</h1>
    </div>
    <div>
    {% if not user.is_authenticated %}

        <div class="container ">

                <p class="text-center">Please Register or Log In</p>
            <div class="well well-sm ">
                <a class="" href="{% url 'voteapp:register' %}"><button class="btn-lg text-center center_btn">Register</button></a>
            </div>
            <div class=" well well-sm">
                <div>
                    <a class="" href="{% url 'voteapp:login' %}"><button class="btn-lg text-center center_btn" type="submit" >Log in</button></a>
                </div>

            </div>
        </div>
    {% else %}

        <div class="container ">

                <p class="text-center">Where would you like to go?</p>
            <div class="well well-sm ">
                <a class="" href="{% url 'voteapp:elections' %}"><button class="btn-lg text-center center_btn">Elections</button></a>
            </div>
            <div class=" well well-sm">
                <div>
                    <a class="" href="{% url 'voteapp:election_summary' %}"><button class="btn-lg text-center center_btn" type="submit" >Results</button></a>
                </div>

            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
