a {
    text-decoration: none;
}
a :hover{

    text-decoration: none;
}
button{
    color:#000;
}
button:hover{
    text-decoration: none;
    color: #337ab7;
}
body {
    background: white ;
}
.container {
    max-width: 54rem;
}
.footer {
    margin-top: 4rem;
}
.top-buffer {
    margin-top: 2rem;
}
.errorlist {
    list-style: none;
    color: red;
}
div.radio > ul >li{
    list-style: none;
    margin-top: 1rem;
    line-height: 25px;
}
div.radio > ul >li>label>input{
    padding-right: 20px;
}
div.checkbox > input {
    margin-left: 10px !important;
}
div.checkbox > label {
    margin-left: 20px;
    line-height: 26px;
}
.tally_count{
    font-size: 24px;
    width: 10%;
}
.center_btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
div.container-fluid.log_table > div >div{
    margin-top:5px;
    margin-bottom:5px;
}
div.container-fluid.log_table > div:nth-of-type(odd) {
    background-color: #f8f8f8;
    border-color: #e7e7e7;


}
